/** @format */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --poster-text-color: #ffffff;
  --background-color: #2f303a;
  --background-team-color: #f5f4fa;
  --button-color: #188ce8;
  --color-fon: #eeeeee;
  --colo-secktion: #ececec;
  --color-main: #f5f5f5;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--poster-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
}
img 
{
display: block;
max-width: 100%;
height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--background-team-color);
  color: var(--background-color);
}
.hiro-button {
  margin-top: 30px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*--------------Button portfolio-----------*/
.port-button {
  color: var(--background-color);
  background-color: var(--background-team-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 25px;

  border-color: var(--background-team-color);
  border-radius: 4px;
}
.port-button:hover,
.port-button:focus {
  color: var(--poster-text-color);
  background-color: var(--button-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: var(--poster-text-color);
  /*margin-left: auto;
        margin-right: auto;*/
}

/*----------------------------------------HEDER----------------*/

.container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
}
  /*width: 1200px;
  padding: 15px 0;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;*/
  /* autline: 20px solid:var(--button-color);*/

.heder-nav
 {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
  /*background-color:forestgreen;*/

.nav {
  /*display: flex;
  align-items: center;*/
  margin-left: 93px;
}
.title-header {
    border-bottom: 1px solid var(--colo-secktion)
}
.log .link
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.log {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
}
.stile-log {
  color: var(--title-text-color);
}
.text-nav {
  display: block;
  margin-right: 40px;
}

.title-nav {
  display: flex;
  /*margin-left: 93px;*/
  flex-direction: row;
padding: 32px 0;
margin-left: auto;
color: var(--title-text-color);
}
/*.title-nav .text-nav:last-child
{
        margin-right: 0;
}
*/
.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.current {
  color: var(--accent-color);
}
.title-nav-addres {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
.title-nav-addres .title-addres + .title-addres {
  margin-left: 50px;
}
.milto-addres {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tel-addres {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/*-------------------------------------------HIRO-----------------------*/

.hiro {
  background-color: var(--background-color);
  text-align: center;
  /*font-family: 'Roboto', sans-serif;*/
}
.flex-hiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*   width: 1200px;*/
  height: 600px;
}
.text-hiro {
  color: var(--poster-text-color);
  /* text-align: center;*/
  /* padding: 200px 452px 20px 452px;
  display: flex;*/
  width: 700px;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;

  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  color: var(--poster-text-color);
  background-color: var(--button-color);
  font-family: inherit;
  /* text-align: center;*/
  width: 216px;
  cursor: pointer;
  /*height: 50px;*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.title-button {
  text-align: center;
}
/*-------------------------WORK------------------*/

.work {
  display: flex;
}

.main-list {
  background-color: var(--poster-text-color);
}
.title-work {
  display: flex;
  gap: 30px;
}
.list-work {
}
.desckription-work {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.text-work {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*---------GALLERY______-----------*/
.container-gallery {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title-gallery {
  display: flex;
  /*align-items: center;*/
  gap: 30px;
  margin-top: 50px;
}
.text-gallery {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  /*margin-top: 94px;*/
}

/*----------COMMAND--------------*/
.command
 {

  background-color: var(--background-team-color);
  padding: 94px 0;
}
  
.title-command 
{
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.list-command {
  background-color: var(--poster-text-color);
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.text-command {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}
.title-text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.contener-text
{
        margin: 10px  0;
}

/*-----------------------STILE DESCRIPTION------------------*/
.desckription-work {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  /*color: var(--primary-text-color);*/
}
.desckription {
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.desckription-port {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-----------------------PORTFOLIO-STILE------------------*/
/*.main-port {
  padding-top: 94px;
}*/
.section 
{
        padding: 94px 0;
}

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 margin-top: 50px;
}
.main-list {
  /*border: 1px solid #eeeeee;*/
}
.desckription-port {
  /*padding-left: 25px;*/
  margin-top: 4px;
  /*padding-bottom: 20px;
  margin-top: 0;*/
}
.h-port {
  padding-left: 25px;
  padding-top: 20px;
}
/* -----------------------------------footer style-------------------------*/

.footer {
  background: var(--background-color);
 padding: 60px 0;
}
.container {


  width: 1200px;
  /*height: 256px;*/
  padding-left: 15px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.foter-log
{
    margin-bottom: 20px;
    line-height: 1.2;
}
.stile-log-footer {
  color: var(--poster-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.footer-log {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-footer {
  font-style: normal;
  margin-top: 20px;
  line-height: 1.7;
}

.list-footer:nth-child(-n + 3) 
{
margin-top: 9px;
}

/*padding-left: 215px;*/

.link-blank {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--poster-text-color);
}
.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*.milto-addres
{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);

}*/
