/** @format */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --poster-text-color: #ffffff;
  --background-color: #2f303a;
  --background-team-color: #f5f4fa;
  --button-color: #188ce8;
  --color-fon: #eeeeee;
  --colo-secktion: #ececec;
  --color-main: #f5f5f5;
  --comand-icons:#AFB1B8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
 /* margin: 0;*/
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--poster-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img 
{
display: block;
max-width: 100%;
height: auto;
}
address
{
  font-style: normal;
}
button
{
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
section
{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container 
{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link 
{
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--background-team-color);
  color: var(--background-color);
}
.hiro-button {
  margin-top: 30px;
  padding:10px 32px ;
  margin-left: 40%;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*--------------Button portfolio-----------*/
.port-button {
  color: var(--background-color);
  background-color: var(--background-team-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 25px;

  border-color: var(--background-team-color);
  border-radius: 4px;
}
.port-button:hover,
.port-button:focus {
  color: var(--poster-text-color);
  background-color: var(--button-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: var(--poster-text-color);
  /*margin-left: auto;
        margin-right: auto;*/
}

/*----------------------------------------HEDER----------------*/


 
.heder-nav
 {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.nav 
{
  margin-left: 93px;
}
/*.text-nav
{
  margin-right: 50px;
}*/
.title-header {
    border-bottom: 1px solid var(--colo-secktion)
}
.log .link
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.log {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
}
.stile-log {
  color: var(--title-text-color);
}


.title-nav {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
margin-left: auto;
color: var(--title-text-color);
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.current {
  color: var(--accent-color);
}
.title-nav-addres {
  display: flex;
  margin-left: auto;
}
.title-nav-addres .title-addres + .title-addres {
  margin-left: 50px;
}
.milto-addres {

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

}
.tel-addres {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.title-addres
{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.title-addres-smartfon
{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.icon-mail
{

}
/*-------------------------------------------HIRO-----------------------*/


.hiro {
 /*background-image:linear-gradient(rgba(47, 48, 58, 0.4)),
  url('../imeges/hiro.jpg');
  min-height: 600px;
  max-width: 1600px;
   margin-left: auto;
   margin-right: auto;*/
 background-color: var(--background-color);
  padding: 200px 0;
  text-align: center;
}


.text-hiro {
  color: var(--poster-text-color);
  margin: 0 auto 30px; 
  width:692px;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  color: var(--poster-text-color);
  background-color: var(--button-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.title-button {
  text-align: center;
}
/*-------------------------WORK------------------*/


/*.main-list {
  background-color: var(--poster-text-color);
}*/
.work
{
  padding-bottom: 0;
}
.title-work {
  display: flex;
  gap: 30px;
}
/*
.list-work
{
}
*/

.text-work {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*---------GALLERY______-----------*/
/*.container-gallery {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}*/
.title-gallery {
  display: flex;
  gap: 30px;
 
}
.text-gallery {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
 
}

/*----------COMMAND--------------*/
.command
 {

  background-color: var(--background-team-color);
  padding: 94px 0;
}
  
.title-command 
{
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.list-command {
  background-color: var(--poster-text-color);
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.text-command {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.com
{
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.title-text {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

}
.contener-text
{
      padding: 30px  0;
}
.social-list
{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social-link
{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 44px;
  height: 44px;
  border-radius: 50%;
background-color: var(--poster-text-color);
color: var(--comand-icons);

  
}
.social-link:hover,
.social-link:focus
{
  background-color:#2196F3;
  

}
.social-icon:hover,
.social-icon:focus
{
  fill:#fff;
}
.social-icon
{
  fill: var(--comand-icons);
 
}
/*-----------------------STILE DESCRIPTION------------------*/


.desckription {
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}


/*-----------------------PORTFOLIO-STILE------------------*/


.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 margin-top: 50px;
}

.desckription-port {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  
}
.h-port {
color: var(--title-text-color);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.port-wrap
{
  padding: 20px 24px;
  border: 1px  solid #EEEEEE;
}
/* ----port-wrap-------------------------------footer style-------------------------*/

.footer {
  background: var(--background-color);
 padding: 60px 0;
}

.foter-log
{
    line-height: 1.2;
}
.stile-log-footer {
  color: var(--poster-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.footer-log {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-footer {
  font-style: normal;
  margin-top: 20px;
  line-height: 1.7;
}

.list-footer:not(:first-child) 
{
margin-top: 9px;
}


.link-blank {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--poster-text-color);
}
.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*.milto-addres
{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);

}*/
